<!DOCTYPE html>
{% load static %}

<!-- 홈 -->
<html lang="en">
    <head>
        {% include 'recipe/header.html' %}
    </head>
    <body>
        <!--네비바-->
        {% include 'recipe/navbar.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'recipe/images/about-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us!!!</h1>
                            <span class="subheading">This is what We do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <style>
                            @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');                             
                            .dh-font{
                                font-family: 'Do Hyeon', sans-serif;
                            }
                        </style>
                        <p class="dh-font" style="font-size:19pt">'Share your recipe'는 레시피 공유 웹사이트입니다.</p>
                        <p class="dh-font" style="color:gray">먼저, '식품 검색하기'에서는 식재료의 영양정보를 확인하실 수 있습니다.<br>(검색되는 결과는 식약처의 식품영양성분 데이터베이스를 기반으로 합니다.)<br>
                           더불어, 식품과 관련된 포스팅 정보를 '오늘의 식품 News'에서 확인하실 수 있습니다. </p>
                        <p class="dh-font" style="color:gray">'레시피 둘러보기'에서는 웹사이트 회원들이 올려놓은 레시피를 확인하실 수 있으며, 웹페이지 상단에서 '로그인/회원가입'을 하시면 게시판에 글을 올릴 수도 있습니다.
                           
                        </p>
                        <p class="dh-font">
                            저희 웹사이트를 이용하여 다양한 식품 정보와 요리 레시피를 얻어가세요!😉
                        </p>
                    </div>
                </div>
            </div>
        </main>
            
        <!-- Footer-->
        {% include 'recipe/footer.html' %}
    </body>
</html>