<!DOCTYPE html>
{% load static %}

<!-- 홈 -->
<html lang="en">
    <head>
        {% include 'recipe/header.html' %}
    </head>
    
    <body>
         <!--네비바-->
        {% include 'recipe/navbar.html' %}
        
            
        <!-- Page Header-->
        {% block img_area %}
        {% endblock %}
        <!-- <header class="masthead" style="background-image: url({% static 'recipe/images/home-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Share your recipe!</h1>
                            <span class="subheading">A Recipe Site</span>
                        </div>
                    </div>
                </div>
            </div>
        </header> -->
            
        <!--여기에 각각 자신의 내용을 채움-->
        {% block main_area %}
        {% endblock %}
            
            
        <!-- Footer-->
        {% include 'recipe/footer.html' %}
    </body>
</html>