<!DOCTYPE html>
{% load static %}

<!-- 홈 -->
<html lang="en">
    <head>
        {% include 'recipe/header.html' %}
    </head>

    <body>
        <!--네비바-->
        {% include 'recipe/navbar.html' %}
        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'recipe/images/post-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>레시피 수정하기</h1>
                            <span class="meta">
                                
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    
		
        <!-- Footer-->
        {% include 'recipe/footer.html' %}
    </body>
</html>
